<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="AyeMovies">
    <meta property="og:url" content="https://ayemovies.herokuapp.com/">
    <meta property="og:title" content="No Ads. No Viruses. Just Movies">
    <meta property="og:image" content="/AyeAreEm.png">
    <title>AyeMovies</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="AyeAreEm.png" />
    <script defer src="script.js"></script>
</head>
<body>
    <div class="header">
        <h1 onclick="window.location = '/'">AyeMovies</h1>
        <!-- select categories -->
        <select name="titles" id="titles" onchange="search(this.value)" style="margin-right: 10px;">
            <option value disabled selected>-- select a category --</option>
        </select>

        <!-- input for movies and tv shows -->
        <input list="moviesList" type="text" onkeyup="if (event.key == 'Enter') search(this.value)" placeholder="type, click an option and hit enter..."/>
        <datalist id="moviesList">
            <% marvel.forEach(item => {%>
                <option value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% netflix.forEach(item => {%>
                <option value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% starWars.forEach(item => {%>
                <option value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% animation.forEach(item => {%>
                <option value="<%= item.link %>"><%= item.title %></option>
            <%})%>
        </datalist>
    </div>

    <div id="Marvel" class="category" style="margin-top: 85px;">
        <h1>Marvel</h1>
        <% marvel.forEach(item => { %>
            <a href="<%= item.link%>"><img src="<%= item.image %>" alt="<%= item.title %>"></a>
        <%})%>
    </div>

    <div id="DC" class="category" style="margin-top: 85px;">
        <h1>DC</h1>
        <% dc.forEach(item => { %>
            <a href="<%= item.link%>"><img src="<%= item.image %>" alt="<%= item.title %>"></a>
        <%})%>
    </div>

    <div id="Netflix-Originals" class="category">
        <h1>Netflix Originals</h1>
        <% netflix.forEach(item => { %>
            <a href="<%= item.link %>"><img src="<%= item.image %>" alt="<%= item.title %>"></a>
        <%})%>
    </div>

    <div id="Star-Wars" class="category">
        <h1>Star Wars</h1>
        <% starWars.forEach(item => { %>
            <a href="<%= item.link%>"><img src="<%= item.image%>" alt="<%= item.title%>"></a>
        <%})%>
    </div>

    <div id="Animated" class="category">
        <h1>Animated</h1>
        <% animation.forEach(item => { %>
            <a href="<%= item.link %>"><img src="<%= item.image %>" alt="<%= item.title %>"></a>
        <%})%>
    </div>
</body>
</html>