<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <meta property="og:site_name" content="AyeMovies">
    <meta property="og:url" content="https://ayemovies.herokuapp.com/">
    <meta property="og:title" content="No Ads. No Viruses. Just Movies">
    <meta property="og:image" content="./img/AyeAreEm.png">
    <title>AyeMovies</title>
</head>
<body>
    <div class="header">
        <h1 onclick="window.location = '/'">AyeMovies</h1>

        <!-- input for movies and tv shows -->
        <input class="search" list="moviesList" type="text" onkeyup="if (event.key == 'Enter') search(this.value)" placeholder="you know what to do..."/>
        <datalist id="moviesList">
            <% marvel.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% dc.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% netflix.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% starWars.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% animation.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% horror.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
        </datalist>
    </div>

    <div id="container" style="margin-top: 85px;">
        <h1>Marvel</h1>
        <div class="category">
            <% marvel.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>"></a>
                <%}%>
            <%})%>
        </div>

        <h1>DC</h1>
        <div class="category">
            <% dc.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Netflix Originals</h1>
        <div class="category">
            <% netflix.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Star Wars</h1>
        <div class="category">
            <% starWars.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Animated</h1>
        <div class="category">
            <% animation.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Horror</h1>
        <div class="category">
            <% horror.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <button id="loadBtn" onclick="loadHandler(['Action'])">Load more</button>
    </div>

    <div class="bottomNav">
        <p><a class="extra" href="/report-bug">Report a bug</a></p>
        <p><a class="extra" href="https://github.com/AyeAreEm/web-ayemovies">Open source code</a></p>
        <p>No Ads. No Viruses. Just Movies</p>
        <br>

        <h4>Copyright &#169; AyeMovies</h4>
    </div>
</body>
</html>