<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="AyeMovies">
    <meta property="og:url" content="https://ayemovies.herokuapp.com/">
    <meta property="og:title" content="No Ads. No Viruses. Just Movies">
    <meta property="og:image" content="./img/AyeAreEm.png">
    <meta name="theme-color" content="#000000">
    <title>AyeMovies</title>
    <link rel="stylesheet" media="screen and (min-device-width: 501px)" href="/styles.css">
    <link rel="stylesheet" media="screen and (min-device-width: 320px) and (max-device-width: 500px)" href="/mobile.css">
    <link rel="shortcut icon" href="./img/AyeAreEm.png" />
    <link rel="manifest" type="application/manifest+json" href="/manifest.webmanifest" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="/img/AyeAreEm-96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#000000">
    <script defer src="/script.js"></script>
</head>
<body>
    <div class="header">
        <h1 onclick="window.location = '/'">AyeMovies</h1>

        <!-- input for movies and tv shows -->
        <input class="search" list="moviesList" type="text" onkeyup="if (event.key == 'Enter') search(this.value)" placeholder="you know what to do..."/>
        <datalist id="moviesList">
            <% marvel.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% dc.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% netflix.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% starWars.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% animation.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
            <% horror.forEach(item => {%>
                <option data-value="<%= item.link %>"><%= item.title %></option>
            <%})%>
        </datalist>
    </div>

    <div id="container" style="margin-top: 85px;">
        <h1>Marvel</h1>
        <div class="category">
            <% marvel.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>"></a>
                <%}%>
            <%})%>
        </div>

        <h1>DC</h1>
        <div class="category">
            <% dc.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Netflix Originals</h1>
        <div class="category">
            <% netflix.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Star Wars</h1>
        <div class="category">
            <% starWars.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Animated</h1>
        <div class="category">
            <% animation.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <h1>Horror</h1>
        <div class="category">
            <% horror.forEach(item => { %>
                <% if (item.display == null) {%>
                    <a href="<%= item.link %>"><img src="<%= item.smallImg %>" alt="<%= item.title %>" title="<%= item.title %>" loading="lazy"></a>
                <%}%>
            <%})%>
        </div>

        <button id="loadBtn" onclick="loadHandler(['Action'])">Load more</button>
    </div>

    <div class="bottomNav">
        <p><a class="extra" href="/report-bug">Report a bug</a></p>
        <p>No Ads. No Viruses. Just Movies</p>
        <br>

        <h4>Copyright &#169; AyeMovies</h4>
    </div>
</body>
</html>